<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新画面</title>
</head>
<body>
    <h1>更新</h1>
<form th:action="@{/doUpdate}" method="post">
    <p>ID: <span th:text="${userForm.id}"></span></p>
    <input type="hidden" name="id" th:value="${userForm.id}">

    <p>名前: <input type="text" name="name" th:value="${userForm.name}"><br>
    <span th:if="${#fields.hasErrors('userForm.name')}" th:errors="${userForm.name}"></span></p>

    <p>年齢: <input type="number" name="age" th:value="${userForm.age}"><br>
    <span th:if="${#fields.hasErrors('userForm.age')}" th:errors="${userForm.age}"></span></p>

    <p>メッセージ: <input type="text" name="message" th:value="${userForm.message}"><br>
    <span th:if="${#fields.hasErrors('userForm.message')}" th:errors="${userForm.message}"></span></p>

    <button type="submit">更新</button>
</form>
</body>
</html>